<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duruijuan.mapper.OrdersMapper">
  <resultMap id="BaseResultMap" type="com.duruijuan.pojo.Orders">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="menuid" jdbcType="INTEGER" property="menuid" />
    <result column="menusum" jdbcType="INTEGER" property="menusum" />
    <result column="times" jdbcType="VARCHAR" property="times" />
    <result column="delivery" jdbcType="INTEGER" property="delivery" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.duruijuan.pojo.Orders">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="menuid" jdbcType="INTEGER" property="menuid" />
    <result column="menusum" jdbcType="INTEGER" property="menusum" />
    <result column="times" jdbcType="VARCHAR" property="times" />
    <result column="delivery" jdbcType="INTEGER" property="delivery" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.duruijuan.pojo.Orders">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="user_address" jdbcType="VARCHAR" property="userAddress" />
    <result column="cost" jdbcType="REAL" property="cost" />
    <result column="order_number" jdbcType="VARCHAR" property="orderNumber" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.duruijuan.pojo.Orders">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="user_address" jdbcType="VARCHAR" property="userAddress" />
    <result column="cost" jdbcType="REAL" property="cost" />
    <result column="serialnumber" jdbcType="VARCHAR" property="serialnumber" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.duruijuan.pojo.Orders">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="receiver_name" jdbcType="VARCHAR" property="receiverName" />
    <result column="receiver_mobile" jdbcType="VARCHAR" property="receiverMobile" />
    <result column="receiver_address" jdbcType="VARCHAR" property="receiverAddress" />
    <result column="total_amount" jdbcType="INTEGER" property="totalAmount" />
    <result column="real_pay_amount" jdbcType="INTEGER" property="realPayAmount" />
    <result column="post_amount" jdbcType="INTEGER" property="postAmount" />
    <result column="pay_method" jdbcType="INTEGER" property="payMethod" />
    <result column="left_msg" jdbcType="VARCHAR" property="leftMsg" />
    <result column="extand" jdbcType="VARCHAR" property="extand" />
    <result column="is_comment" jdbcType="INTEGER" property="isComment" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.duruijuan.pojo.Orders">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="orderid" jdbcType="VARCHAR" property="orderid" />
    <result column="tablename" jdbcType="VARCHAR" property="tablename" />
    <result column="userid" jdbcType="BIGINT" property="userid" />
    <result column="goodid" jdbcType="BIGINT" property="goodid" />
    <result column="goodname" jdbcType="VARCHAR" property="goodname" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="buynumber" jdbcType="INTEGER" property="buynumber" />
    <result column="price" jdbcType="REAL" property="price" />
    <result column="discountprice" jdbcType="REAL" property="discountprice" />
    <result column="total" jdbcType="REAL" property="total" />
    <result column="discounttotal" jdbcType="REAL" property="discounttotal" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="consignee" jdbcType="VARCHAR" property="consignee" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="logistics" jdbcType="LONGVARCHAR" property="logistics" />
  </resultMap>
</mapper>